<!DOCTYPE html>
<html lang="en">
<head th:replace="templates :: header">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Insert LOGO here -->
        <div class="navbar-header">
            <a class="navbar-brand">Events4me</a>
        </div>

        <!-- Menu Items-->
        <div>
            <ul class="nav navbar-nav">
                <li ><a th:href="@{/events4me}">MY PROFILE</a></li>
                <li class="active"><a>NEW EVENT</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="container">


    <form th:object="${event}" th:action="@{/newEvent}" method="post">
        <div class="col-md-4 col-md-offset-1">
            <div class="form-group row ">
                <label for="event-name-input">Event Name:</label>
                <input th:field="*{title}" class="form-control" type="text" value="Default value" id="event-name-input"/>
            </div>
            <div class="row form-group  ">
                <label for="event-startTime-input">Event Start Time:</label>
                <input th:field="*{startTime}" class="form-control" type="text" value="Default value" id="event-startTime-input" placeholder="M/D/YY HH:MM AM/PM"/>
            </div>
            <div class="row form-group ">
                <label for="event-time-input">Event End Time:</label>
                <input th:field="*{endTime}" class="form-control" type="text" value="Default value" id="event-time-input" placeholder="M/D/YY HH:MM AM/PM"/>
            </div>
            <div class="form-group row ">
                <label for="event-location-input">Event Location:</label>
                <select th:field="*{location}" th:remove="all-but-first" class="form-control" id="event-location-input">
                    <option th:each="location : ${locations}"
                            th:value="${location.id}" th:text="${location.name} + ', ' + ${location.address}">default option</option>
                </select>
            </div>
            <div class="form-group row">
                <label for="descriptionTextarea">Event Description</label>
                <textarea th:field="*{description}" class="form-control" id="descriptionTextarea" rows="4"></textarea>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="form-group row ">
                <label for="event-category-input">Event Category:</label>
                <select th:field="*{category}" th:remove="all-but-first" class="form-control" id="event-category-input">
                    <option th:each="interest : ${T(com.metropolia.events4me.Model.Interest).values()}"
                            th:value="${interest}" th:text="${interest}">default option</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-default">Commit Changes</button>
            </div>
        </div>


    </form>



    <!--
    <img th:src="@{/img/placeholder2.png}" />
    <div class="row col-md-8 col-md-offset-2">
        <div class="col-md-6">
            <h2 th:text="${event.name}"></h2>
            <h3 class="row" th:text="'Date: ' + ${event.dateTime.toLocalDate()}"></h3>
            <h3 class="row" th:text="'Time: ' + ${event.dateTime.toLocalTime()}"></h3>
            <h3 class="row" th:text="${event.place}">There is no place available for this event.</h3>

        </div>
        <div class="col-md-6">
            <h3 th:text="${event.description}">There is no description available for this event.</h3>
        </div>

    </div>-->

</div>

</body>
</html>