<!DOCTYPE html>
<html lang="en">
<head th:replace="templates :: header">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Insert LOGO here -->
        <div class="navbar-header">
            <a class="navbar-brand">Events4me</a>
        </div>

        <!-- Menu Items-->
        <div>
            <ul class="nav navbar-nav">
                <li ><a th:href="@{/events4me/}">HOME</a></li>
                <li class="active"><a th:text="${product.name}"></a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="container">
    <img th:src="@{/img/placeholder2.png}" />
    <div class="row col-md-8 col-md-offset-2">
        <div class="col-md-6">
            <h2 th:text="${product.name}"></h2>
            <h3 class="row" th:text="'Date: ' + ${product.dateTime.toLocalDate()}"></h3>
            <h3 class="row" th:text="'Time: ' + ${product.dateTime.toLocalTime()}"></h3>
            <h3 class="row" th:text="${product.place}">There is no place available for this event.</h3>

        </div>
        <div class="col-md-6">
            <h3 th:text="${product.description}">There is no description available for this event.</h3>
        </div>

    </div>

</div>

</body>
</html>