<!DOCTYPE html>
<html lang="en">
<head th:replace="templates :: header">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Insert LOGO here -->
        <div class="navbar-header">
            <a class="navbar-brand">Events4me</a>
        </div>


        <!-- Menu Items-->
        <div>
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand"></a></li>
                <li><a class="navbar-brand"></a></li>
                <li><a th:href="@{/events4me}">MY PROFILE</a></li>

                <li><a th:href="@{/events4me/discoverevents/}">DISCOVER EVENTS</a></li>
                <li class="active"><a th:href="@{/user/list}">DISCOVER PEOPLE</a></li>

            </ul>

            <ul class=" nav navbar-nav navbar-right">
                <li>

                    <div class="dropdown friendbutton" title="Pending friend requests">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                                th:text="${user.getPendingFriendRequests().size()}">
                        </button>
                        <ul th:each="friend : ${user.getPendingFriendRequests()}" class="dropdown-menu">
                            <li>
                                <p th:text="${friend.username}"></p>
                                <button type="button" class="btn">accept</button>
                                <button type="button" class="btn">reject</button>
                            </li>
                        </ul>
                    </div>

                </li>
                <li>
                    <form th:action="@{/logout}">
                        <button type="submit" class="btn btn-default navbar-btn logout">LOGOUT</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th class="tableTitle">Picture</th>
                <th class="tableColumns">Username</th>
                <th class="tableTitle"></th>
            </tr>
            <th:block th:each="users : ${users}">
                <tr th:if="${users.username} != ${user.username}" >
                    <td><img th:src="@{/img/GenericUser.png}" alt="user picture" class="userPicture"/></td>

                    <td th:text="${users.getUsername()}" class="tableUsername" style="border-top: 0px"></td>
                    <td></td>
                    <td style="border-top: 0px">
                        <form th:action="'/user/show/' + ${users.getUserId()}">
                            <button th:href="'/user/show/' + ${users.getUserId()}" type="submit" class="btn btn-default">
                                View profile
                            </button>
                        </form>
                    </td>
                    <td style="border-top: 0px">
                        <form th:action="'/user/sendFriend/' + ${users.username}" method="post">
                            <button type="submit" class="btn btn-default">
                                Send friend request
                            </button>
                        </form>
                    </td>


                </tr>
            </th:block>
        </table>
    </div>

</div>

</body>
</html>