<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="templates :: header">

</head>
<script th:src="@{/../js/scriptprofile.js}"></script>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Insert LOGO here -->
        <div class="navbar-header">
            <a class="navbar-brand">Events4me</a>
        </div>


        <!-- Menu Items-->
        <div>
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand"></a></li>
                <li><a class="navbar-brand"></a></li>
                <li><a th:href="@{/events4me}">MY PROFILE</a></li>

                <li><a th:href="@{/events4me/discoverevents}">DISCOVER EVENTS</a></li>
                <li><a th:href="@{/user/list}">DISCOVER PEOPLE</a></li>

            </ul>
            <ul class=" nav navbar-nav navbar-right">
                <li title="Pending friend requests"><a th:text="${user.getPendingFriendRequests().size()}">
                </a></li>
                <li>
                    <form th:action="@{/logout}">
                        <button type="submit" class="btn btn-default navbar-btn logout">LOGOUT</button>
                    </form>
                </li>
            </ul>
        </div>



    </div>
</nav>

<body class="home">
<header id="header">
    <div id="head">
        <h1 id="logo" class="text-center">
            <img class="img-circle" th:src="@{img/placeholder2.png}" alt=""/>
            <span class="title" th:text="${user.firstName}"></span>
            <br/>
            <span class="title" th:text="${user.lastName}"></span>
            <span class="tagline">infoo</span>
        </h1>
        <div class="col-md-4">
            <table class="col-md-offset-6">
                <tr>
                    <th>Interests:</th>
                </tr>
                <tr th:each="interest : ${user.getInterests()}">
                    <th th:text="${interest}"></th>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="col-md-offset-6">
                <tr>
                    <th>Country:</th>
                </tr>
                <tr>
                    <th th:text="${user.getCountry()}"></th>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="col-md-offset-6">
                <tr>
                    <th>Birthday:</th>
                </tr>
                <tr>
                    <th th:text="${user.getBirthday()}"></th>
                </tr>
            </table>
        </div>
        <table class="container midspace freedays">
            <caption class="freeheader">Availability</caption>
            <tr>
                <th>Monday</th>
                <th>Thuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <tr id="timeschedule">

            </tr>
        </table>

    </div>

    <div class="navbar">
        <div class="container midspace">
            <div>
                <p class="lead text-center text-muted">something something here</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row section recentworks topspace">

        <h2 class="section-title"><span>Events:</span></h2>
        <div id="notattending">

        </div>

        <div class="thumbnails recentworks" id="attending" th:each="state : ${userEvents}" th:value="${state.title}">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                <a class="thumbnail" rel="gallery" href="../img/placeholder2.png" >
						<span class="img">
							<img src="../img/placeholder.png" alt=""/>
							<span class="cover"><span class="more">View bigger</span></span>
						</span>
                    <span class="title" th:text="' '+${state.title}"></span>
                </a>

            </div>

        </div>

    </div>

</div>
</body>
</html>