<!DOCTYPE html>
<html lang="en">
<head th:replace="templates :: header">
</head>
<script th:src="@{/../js/discoverscript.js}"></script>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Insert LOGO here -->
        <div class="navbar-header">
            <a class="navbar-brand">Events4me</a>
        </div>


        <!-- Menu Items-->
        <div>
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand"></a></li>
                <li><a class="navbar-brand"></a></li>
                <li><a th:href="@{/events4me/profile/} + ${user.userId}">MY PROFILE</a></li>

                <li class="active"><a th:href="@{/events4me/discoverevents/}">DISCOVER EVENTS</a></li>
                <li><a th:href="@{/user/list}">DISCOVER PEOPLE</a></li>

            </ul>
            <ul class=" nav navbar-nav navbar-right">
                <form th:action="@{/logout}">
                    <button type="submit" class="btn btn-default navbar-btn logout">LOGOUT</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div id="eventList" class="col-md-6">
    </div>
    <div class="col-md-6">
        <form action="/event/new" method="get">
            <button type="submit" class="btn btn-default eventButton"> Create a new Event</button>


        </form>
    </div>

</div>

</body>
</html>