<!DOCTYPE html>
<html lang="en">
<head th:replace="templates :: header">
</head>
<!-- Old implementation using ajax
<script th:src="@{/../js/discoverscript.js}"></script> -->
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Insert LOGO here -->
        <div class="navbar-header">
            <a class="navbar-brand">Events4me</a>
        </div>


        <!-- Menu Items-->
        <div>
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand"></a></li>
                <li><a class="navbar-brand"></a></li>
                <li><a th:href="@{/events4me}">MY PROFILE</a></li>

                <li class="active"><a th:href="@{/events4me/discoverevents/}">DISCOVER EVENTS</a></li>
                <li><a th:href="@{/user/list}">DISCOVER PEOPLE</a></li>

            </ul>
            <ul class=" nav navbar-nav navbar-right">
                <form th:action="@{/logout}">
                    <button type="submit" class="btn btn-default navbar-btn logout">LOGOUT</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div id="eventList" class="col-md-6">
        <table class="table" >
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            <th:block th:each="event : ${futureEvents}">
                <tr>
                    <td th:text="${event.title}" style="border-top: 0px"></td>
                    <td th:text="${event.endTime.toString().substring(0,10)}" style="border-top: 0px"></td>
                    <td th:text="${event.endTime.toString().substring(11,16)}" style="border-top: 0px"></td>
                    <td style="border-top: 0px"><form th:action="'/event/show/' + ${event.eventId}" ><button class="btn btn-default" type="submit">View</button></form></td>
                    <td th:if="${event.organizer} == ${user}" style="border-top: 0px"><form th:action="'/product/edit/' + ${event.eventId}"><button class="btn btn-default" type="submit">Edit</button></form></td>
                </tr>
            </th:block>


        </table>
    </div>
    <div class="col-md-6">
        <form action="/event/new" method="get">
            <button type="submit" class="btn btn-default eventButton"> Create a new Event</button>


        </form>
    </div>

</div>

</body>
</html>