<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
    <head th:replace="templates :: header">
    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <!-- Insert LOGO here -->
                <div class="navbar-header">
                    <a class="navbar-brand">Events4me</a>
                </div>

            </div>
        </nav>

        <div class="background">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4 login-form">

                    <h1 class="col-md-offset-1 col-md-10">Welcome to Events4Me</h1>
                    <form th:action="@{/login}" method="post">
                        <div th:if="${param.error}" class="error-response col-md-offset-1 col-md-10">
                            <p>Invalid username and password.</p>
                        </div>

                        <div th:if="${param.logout}" class="error-response col-md-offset-1 col-md-10">
                            <p>You have successfully logged out.</p>
                        </div>
                        <div class="form-group row col-md-offset-1 col-md-10">
                            <label for="username" class="col-form-label sr-only">Username</label>
                            <input class="form-control" type="text" placeholder="username" name="username" id="username"/>
                        </div>

                        <div class="form-group row col-md-offset-1 col-md-10">
                            <label for="password" class="col-form-label sr-only">Password</label>
                            <input class="form-control" type="password" placeholder="********" name="password" id="password"/>
                        </div>
                    

                        <div class="form-group row offs col-md-offset-3 col-md-6">
                            <button type="submit" class="btn btn-primary button-login">Sign in</button>
                            <a th:href="@{signup.html}" class="register-link">create an account</a>
                        </div>
                    </form>
                </div> 


            </div>
        </div>
        </div>
    </body>
</html>
